<footer class="site-footer clearfix">
  <div class="footer-meta container">
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a>, Theme <a href="https://github.com/lileixuan/ghost-theme-kaldorei">Kaldorei</a></section>
    <section class="copyright">&nbsp;京ICP备15022438号-2 </section>
  </div>
</footer>
